* {
	background: black; color: lightgreen;
	font-family: Consolas,monospace,monospace; font-size: 3vmin;
	margin: 0; 
}

textarea { width:100%; caret-color:red; }
button   { width:100%; background: darkslategray; height: 11vmin; }
pre		 { width:100%; white-space: pre-wrap; word-break: break-all; }

#cmd { position: absolute; bottom:0; width:100%; }

#stack,#pad	{ color:cyan; }
#words		{ color:lightblue; }
#error		{ color:yellow; }
